/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

/* ================= BODY ================= */
body {
  position: relative;
  overflow: hidden;
  background: #000;
}

/* ================= BACKGROUND IMAGE ================= */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("backgroundTest.png"); /* FOTO DESK */
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: 0;
}

/* DARK OVERLAY (BIAR TEKS KELIHATAN) */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 1;
}

/* ================= NAVBAR ================= */
.navbar {
  position: relative;
  z-index: 3;
  height: 64px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  background: #3d3d3d;
  color: white;
  font-weight: 700;
}

/* ================= MAIN ================= */
.container {
  position: relative;
  z-index: 3;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 28px;
}

/* TEXT */
.subtitle {
  color: #ffffff;
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: auto;
}


